.configurator {
    margin: $lumx-spacing-unit-huge * 8 auto;

    &__title {
        margin: 0 auto;
        text-align: center;
    }

    &__configurations {
        background-color: lumx-color-variant('blue', 'L5');
        border-radius: $lumx-spacing-unit-regular;
        width: 450px;
        margin: $lumx-spacing-unit-huge auto;
        padding: $lumx-spacing-unit-big;
        height: 352px;
    }

    &__analyze {
        float: right;
    }
}