.snackbar {
    position: fixed;
    bottom: $base-spacing * 2;
    right: $base-spacing * 2;
    min-width: 25%;
    padding: $base-spacing * 3;
    border-radius: $base-spacing;

    &__error {
        background-color: $light-red;
        color: $white;
    }

    &__success {
        background-color: $green-success;
        color: $white;
    }
}