.container {
    padding: $base-spacing * 8 $base-spacing * 8;
    margin: 0 auto;
    position: relative;

    @media(max-width: $medium-resolution) {
        padding: $base-spacing * 6 $base-spacing * 6;
    }

    @media(max-width: $tablet-resolution) {
        padding: $base-spacing * 4 $base-spacing * 4;
    }

    @media(max-width: $mobile-resolution) {
        padding: $base-spacing * 3 $base-spacing * 2;
    }
}

.text-block {
    margin: $base-spacing * 2 auto;
    width: 60%;
    line-height: 1.5;
    font-size: $font-size-s;

    @media(max-width: $medium-resolution) {
        width: 75%;
        font-size: $font-size-xs;
    }

    @media(max-width: $tablet-resolution) {
        width: 90%;
    }
}

.highlight {
    color: $green;
}