// Color palette
$green: #4fd2c2;
$green-success: #8ff16f;
$lighter-green: #4fd2c24f;
$grey: #233538;
$light-grey: #919191;
$black: black;
$red: #d24f4f;
$light-red: #d68383;
$white: white;
$gradient-blue: linear-gradient(#233538d1, $grey);
$gradient-blue-inverse: linear-gradient($grey, #233538d1);
$dark-blue: #233538d1;
$light-blue: #2f87cfd1;

// base unit
$base-unit: 8px;

// Spacing
$base-spacing: $base-unit;

// font size
$font-size-xxs: $base-unit;
$font-size-xs: $base-unit * 2;
$font-size-s: $base-unit * 3;
$font-size-m: $base-unit * 4;
$font-size-l: $base-unit * 5;
$font-size-xl: $base-unit * 6;
$font-size-xxl: $base-unit * 7;
$font-size-xxxl: $base-unit * 8;
$font-size-xxxxl: $base-unit * 9;


// breakpoints
$high-resolution: 1280px;
$medium-resolution: 1024px;
$tablet-resolution: 720px;
$mobile-resolution: 380px;