.button {
    padding: $base-spacing * 2;
    border: 0;
    border-radius: $base-spacing;
    background-color: $green;
    color: $white;
    width: $base-spacing * 30;
    font-size: $font-size-s;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;

    @media(max-width: $medium-resolution) {
        width: 100%;
    }

    @media(max-width: $tablet-resolution) {
        width: 100%;
    }

    &:disabled{
        cursor: not-allowed;
        background-color: $lighter-green;
    }
}