.card {
    padding: $base-spacing * 4;
    background-color: $white;
    border-radius: $base-spacing * 2;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);

    @media(max-width: $medium-resolution) {
        padding: $base-spacing * 2;
    }

    @media(max-width: $high-resolution) {
        padding: $base-spacing * 2;
    }

    @media(max-width: $tablet-resolution) {
        padding: $base-spacing * 2;
    }
}