.input {
    margin-bottom: $base-spacing * 5;

    &__label {
        display: block;
        font-weight: bold;
        font-size: $font-size-xs;
        margin-bottom: $base-spacing;
    }

    &__field {
        border: none;
        border-bottom: 1px solid $dark-blue;
        height: $base-spacing * 5;
        width: 100%;
        font-size: $font-size-xs;
        margin-bottom: $base-spacing;

        &:focus {
            outline: none;
            border-bottom: 1px solid $green;
        }

        &-error {
            border-bottom: 1px solid $red;
        }
    }

    &__error-label {
        color: $red;
        font-size: $font-size-xs;
    }

    &__textarea {
        @extend .input__field;
        height: $base-spacing * 12;

        @media(max-width: $medium-resolution) {
            height: $base-spacing * 8;
        }
    
        @media(max-width: $high-resolution) {
            height: $base-spacing * 8;
        }
    
        @media(max-width: $tablet-resolution) {
            height: $base-spacing * 8;
        }
    }
}